# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/

.idea/
# Logs
*.log

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
node/
build/
target/